body{
  padding: 0;
  margin: 0%;

}
#mydiv1{
  width: 220px;
  height: 300px;
  position: absolute;
  left: 150px;
  top: 15px;
  display: flex;
  align-items: center;
}
#decrease{
  margin: 7px;
  color: red;
  height: 300px;
  width: 200px;
}

#counter{
  position: absolute;
  height: 500px;
  width: 500px;
  text-align: center; 
  font-size: 5rem;
  display: block;

}